# Exports
export(aer)
export(boxM)
export(confusionmatrix)
export(coph.tocher)
export(cov2pcov)
export(creategroups)
export(D2.disc)
export(D2.dist)
export(distClust)
export(findSubsample)
export(fitplotsize)
export(multcor.test)
export(optimumplotsize)
export(pathanalysis)
export(raise.matrix)
export(samplesize)
export(singh)
export(tocher)

# Imports
import(utils, rpanel, tkrplot, MASS, boot)

# S3method
S3method(print, multcor.test)
S3method(print, findSubsample)
S3method(print, creategroups)
S3method(print, pathanalysis)
S3method(print, tocher)
S3method(predict, D2.disc)
